

/* Variables */
$main: white;
$blue : blue;

/* MAIN */
.item {
    color: $blue;
    display: flex;
		width: 100%;

		.img {
			background-image: inline('../img/test.jpg');
	    size: size('../img/test.jpg');

			&:hover {
				opacity: 0.5;
	    }
		}

    p {
    	size: (20 * 2)px;
    }
}
