$blue : blue;

.item {
    color: $blue;
    display: flex;

    p {
    	size: (20 * 2)px;
    }
}

.item {
    background-image: inline('../img/test.png');
    size: size('../img/test.png');

    &:hover {
		border-radius: 12px;
    }


}

